*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif
}
.txt-center{
    text-align: center;
}
.flex-shrink{
    flex-shrink: 0;
}
.flex-grow{
    flex-grow: 1;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}
.section-container{
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.top-bar{
    padding: 1rem 0;
}
.row-reverse{
    flex-direction: row-reverse;
}
.sidebar{
    width: 150px;
    background-color: black;
}
.play-container{
    padding: 2rem 0;
}
.align-items-stretch{
    align-items: stretch;
}
.opacity{
    opacity: .8;
}
.bg-black{
    background-color: black;
}
.btn{
    border-radius: 30px;
    border: 1px solid white;
    padding: 1rem;
}
.btn-upgrade{
    background: none;
    color: white;
}
.logo-small-spotify{
    height: 60px;
    width: 60px;
}
.container-logo-spotify{
    padding: .4rem;
    justify-content: end;
}
.spotify{
    color: white;
}
.icons-spotify{
    padding: .4rem;
}
.icons{
    width: 35px;
    margin-bottom: .6rem;
}
.color-txt-white{
    color: white;
}
.padding{
    padding: .4rem;
}
.plus{
    background-color: lightslategray;
    aspect-ratio: 1px/1px;
}
.color-txt-lightgray{
    color: lightslategray;
}
.container-svg-profile{
    color: white;
}
.svg-profile{
    width: 20px;
    height: 20px;
    background-color: lightslategray;
    border-radius: 50%;
    opacity: .8;
}