*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.position-relative{
    position: relative;
}
.font-weight{
    font-weight: bold;
}
.padding-icon-player{
    padding: 0 1em;
}
.font-size-title{
    font-size: 20px;
}
.txt-center{
    text-align: center;
}
.margin-bottom{
    margin-bottom: .7rem;
}
.align-center{
    align-items: center;
}
.flex-shrink{
    flex-shrink: 0;
}
.flex-grow{
    flex-grow: 1;
    overflow: hidden;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}
.section-container{
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.container-main{
    padding: .5rem 1rem;
    background-color: #141922;
}
.container-link-spotify{
    text-align: center;
}
.link-spotify-border-bottom-green{
    border-bottom: 1.5px solid green;
}
.link-spotify{
    padding: 1em;
}
.link-spotify:hover{
    color:white;
}
.color-txt-lightgray:hover{
    color: white;
}
.container-row{
    padding: 1.5rem 0;
    font-size: 1rem;
    flex-wrap: wrap;
}

.spotify-music-row{
    padding: 2em 0;
    font-size: 15px;
}
.square{
    padding: .8rem;
    width: calc(100% / 6);
}
.circle{
    border-radius: 50%;
    overflow: hidden;
}
.img-square{
    width: 100%;
    height: auto;
}
.font-size-title-main{
    font-size: 30px;
}
.top-bar{
    padding: 1rem 0;
}
.row-reverse{
    flex-direction: row-reverse;
}
.sidebar{
    width: 150px;
    background-color: black;
}
.align-items-stretch{
    align-items: stretch;
}
.opacity{
    opacity: .8;
}
.bg-black{
    background-color: black;
}
.btn{
    border-radius: 30px;
    border: 1px solid white;
    padding: 1rem;
}
.btn-upgrade{
    background: none;
    color: white;
    padding: 1rem;
}
.btn-upgrade:hover{
    transform: scale(1.1);
}
.logo-small-spotify{
    height: 60px;
    width: 60px;
}
.crea-playlist{
    margin-bottom: 1rem;
}
.container-logo-spotify{
    padding: .4rem;
    justify-content: end;
}
.link-spotify-evidenza{
    border-bottom: 1.5px solid rgb(17, 241, 17)
}
.spotify{
    color: white;
}
.icons-spotify{
    padding: .4rem;
}
.icon-home-border-left{
    border-left: 1px solid green;
}
.icons{
    padding: .3rem;
    align-items: center;
    width: 35px;
    margin-bottom: .6rem;
}
.icon-user{
    width: 15px;
    height: 15px;
}
.color-txt-white{
    color: white;
}
.padding{
    padding: .4rem;
}
.plus{
    padding: .3rem;
    background-color: lightslategray;
    aspect-ratio: 1/1;
}
.color-txt-lightgray{
    color: lightslategray;
}
.container-svg-profile{
    color: white;
}
.svg-profile{
    width: 20px;
    height: 20px;
    background-color: #282828;
    border-radius: 50%;
    opacity: .8;
}
.bg-color-main{
    background-color: #282828;
}
.play-container{
    padding: 1rem 0;
    background-color: #282828;
    justify-content: space-between;
}
.img-sinister-size{
    width: 100%;
    height: auto;
}
.container-img-player{
    width: 20%;
}
.container-nome-brano{
    margin-left: .8rem;
}
.title-brano{
    font-size: 14px;
    font-weight: bold;
}
.subtitle-brano{
    font-size:10px;
}
.img-player{
   margin-left: 10px;
   width: 20%;
   justify-content: flex-end;
}
.container-icons-player{
    margin-left: 2rem;
}
.container-player-central{
  max-width: 700px;
}
.container-up-player{
    justify-content: center;
    margin-bottom: .5em;
}
.btn-player{
    padding: 0 3rem;
    color: white;
    width: 100%;
    height: 100%;
}
.btn-play{
    border: 3px solid white;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 0 .4rem;
}
.container-down-player{
    justify-content: center;
}
.sec-player{
    font-size: 10px;
    justify-content: center;
    margin-right: 1em;
}
.progress-bar{
    height: 5px;
    background-color: grey;
    border: 1px solid rgb(12, 11, 11);
    border-radius: 10px;
    max-width: 500px;
    min-width: 500px;
}
.progress-bar-white{
    width: 20%;
    height: 3px;
    background-color: white;
}
.container-btn-smp{
    padding: .5em;
    align-items: center;
}
.tot-sec-player{
    font-size: 10px;
    margin-left: 1em;
}
.little-progress-bar{
    height: 5px;
    background-color: grey;
    border: 1px solid rgb(12, 11, 11);
    border-radius: 10px;
    max-width: 100px;
    min-width: 100px;
}
.little-progress-bar-content{
    width: 20%;
    height: 3px;
    background-color: white;
}
.container-btn-play-hover{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.btn-play-hover{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
.btn-play:hover{
    transform: scale(1.2);
}
.progress-bar-white:hover{
    background-color:green
}
.little-progress-bar-content:hover{
    background-color: green;
}
.img-square:hover{
    filter: opacity(.4);   
}
.square:hover .btn-play-hover{
    display: block;
}

@media screen and (max-width:1100px){
   .square{
       width: calc(100% / 4) ;
   }
   .container-icons-player{
       display: block;
   }
   .container-player-central{
    max-width: 470px;
    }
    .padding-icon-player{
        padding: .5em;
    }
    .container-img-player{
        width: 14%;
    }
    .img-player{
        margin-left: 5px;
    }
    .container-nome-brano{
        margin-left: .4em;
    }
    .container-icons-player{
        margin-left: .5em;
    }
    .btn-player{
        padding: 0 .5rem;
    }
    .progress-bar{
        max-width: 350px;
        min-width: 350px;
    }

}

@media screen and (max-width: 800px){
    .square{
        width: calc(100% / 2);
    }
    .container-player-central{
        max-width: 370px;
    }
    .progress-bar{
        max-width: 250px;
        min-width: 250px;
    }
    .progress-bar-white{
        width: 40%;
    }
    .container-btn-smp{
        display: block;
    }
    .container-img-player{
    }
    .link-spotify-border-bottom-green{
        border-bottom: none;
    }
}

@media screen and (max-width:600px){
    .progress-bar{
        max-width: 120px;
        min-width: 120px;
    }
    .progress-bar-white{
        width: 40%;
    }
    .link-spotify{
        padding: 5rem;
    }
}

@media screen and (max-width:500px) {
    .link-spotify{
        padding: 6rem 5rem;
    }
    .sidebar{
        width: 38px;
    }
    .container-playlist{
        display: none;
    }
    .user{
        display: none;
    }
    .container-logo-spotify{
        display: none;
    }
}