*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.font-weight{
    font-weight: bold;
}
.font-size-title{
    font-size: 20px;
}
.txt-center{
    text-align: center;
}
.margin-bottom{
    margin-bottom: .7rem;
}
.align-center{
    align-items: center;
}
.flex-shrink{
    flex-shrink: 0;
}
.flex-grow{
    flex-grow: 1;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}
.section-container{
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.top-bar{
    padding: 1rem 0;
}
.row-reverse{
    flex-direction: row-reverse;
}
.sidebar{
    width: 150px;
    background-color: black;
}
.align-items-stretch{
    align-items: stretch;
}
.opacity{
    opacity: .8;
}
.bg-black{
    background-color: black;
}
.btn{
    border-radius: 30px;
    border: 1px solid white;
    padding: 1rem;
}
.btn-upgrade{
    background: none;
    color: white;
}
.logo-small-spotify{
    height: 60px;
    width: 60px;
}
.crea-playlist{
    margin-bottom: 1rem;
}
.container-logo-spotify{
    padding: .4rem;
    justify-content: end;
}
.spotify{
    color: white;
}
.icons-spotify{
    padding: .4rem;
}
.icons{
    padding: .3rem;
    align-items: center;
    width: 35px;
    margin-bottom: .6rem;
}
.icon-user{
    width: 15px;
    height: 15px;
}
.color-txt-white{
    color: white;
}
.padding{
    padding: .4rem;
}
.plus{
    padding: .3rem;
    background-color: lightslategray;
    aspect-ratio: 1/1;
}
.color-txt-lightgray{
    color: lightslategray;
}
.container-svg-profile{
    color: white;
}
.svg-profile{
    width: 20px;
    height: 20px;
    background-color: #282828;
    border-radius: 50%;
    opacity: .8;
}
.bg-color-main{
    background-color: #282828;
}
.play-container{
    padding: 1rem 0;
    background-color: #282828;
    justify-content: space-between;
}
.img-sinister-size{
    width: 100%;
}
.container-img-player{
    width: 20%;
}
.container-nome-brano{
    margin-left: .8rem;
}
.title-brano{
    font-size: 14px;
    font-weight: bold;
}
.subtitle-brano{
    font-size:10px;
}
.img-player{
   margin-left: 10px;
   width: 20%;
   justify-content: flex-end;
}
.container-icons-player{
    margin-left: 2rem;
}
.container-player-central{
  max-width: 700px;
}
.container-up-player{
    justify-content: center;
    margin-bottom: .5em;
}
.container-btn-player{
    
}
.btn-player{
    padding: 0 3rem;
    color: white;
    width: 100%;
    height: 100%;
}
.btn-play{
    border: 3px solid white;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 0 .4rem;
}
.container-down-player{
    justify-content: center;
}
.sec-player{
    font-size: 10px;
    justify-content: center;
    margin-right: 1em;
}
.progress-bar{
    align-items: center;
    position: relative;
    width: 500px;
    height: .5em;
    background-color: grey;
    border-radius: 1.5em;
}
.progress-bar::before{
    content: attr(data-label);
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    width: 200px;
    min-width:.5rem;
    max-width: calc(100% - 1em);
    border-radius: .5em;
}
.container-btn-smp{
    padding: .5em;
    align-items: center;
}
.tot-sec-player{
    font-size: 10px;
    margin-left: 1em;
}
.little-progress-bar{
    height: 5px;
    background-color: grey;
    border: 1px solid rgb(12, 11, 11);
    border-radius: 10px;
    max-width: 100px;
    min-width: 100px;
}
.little-progress-bar-content{
    width: 20%;
    height: 3px;
    background-color: white;
}